
.content ul.journal-dialog {
    list-style: none;
    margin: 0 30px;
    padding: 0;
}

p {
    /* Make sure the dialog is not displayed over the text */
    clear: both;
}

ul.journal-dialog li {
  display:inline-block;
  clear: both;
  padding: 5px 10px;
  /* border-radius: 15px; */
  border-radius: 5px;
  margin-bottom: 0px;
  /* font-family: Helvetica, Arial, sans-serif; */
}

ul.journal-dialog li.their-dialog {
  background: #eee;
  color: #021310;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul.journal-dialog li.my-dialog {
  float: right;
  text-align: right;
  background: #0084ff;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.their-dialog + .my-dialog {
  border-top-right-radius: 15px;
}

.my-dialog + .their-dialog, .their-dialog.end-speech + .their-dialog {
  border-top-left-radius: 15px;
}

/* .their-dialog + .their-dialog {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.journal-dialog li:nth-last-child(1 of .my-dialog) {
  border-bottom-right-radius: 5px;
  margin-bottom: 1em;
} */

.my-dialog.end-speech {
    border-bottom-right-radius: 15px;
}

.their-dialog.end-speech {
    border-bottom-left-radius: 15px;
}

.journal-dialog li:nth-child(1 of .my-dialog) {
  border-top-right-radius: 15px;
}

.journal-dialog li:nth-child(1 of .their-dialog) {
  border-top-left-radius: 15px;
}

.journal-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}

.journal-dialog li:nth-last-child(1 of .my-dialog) {
  border-bottom-right-radius: 15px;
  margin-bottom: 1em;
}

.journal-dialog li:nth-last-child(1 of .their-dialog) {
  border-bottom-left-radius: 15px;
  margin-bottom: 1em;
}
