<div class="navbar-item has-dropdown is-hoverable">
    {{ range $index, $element := ((first 30 .Site.RegularPages.ByDate.Reverse).GroupBy "Dir").Reverse }}
        {{ $firstEntryPerDay := index (last 1 .Pages) 0}}
        <a class="navbar-item" href="{{$firstEntryPerDay.CurrentSection.Permalink}}">
            {{ partial "datetitle.html" $firstEntryPerDay }}
            <span class="tag is-rounded" style="margin-left:7px">
                {{ len .Pages }}
            </span>
        </a>
        {{ if eq $index 0 }}
            <div class="navbar-dropdown">
        {{ end }}
    {{ end }}
</div>
</div>
