{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $timeFormat := .Site.Params.dateFormat | default "15:04" }}

{{ $hasImages := or (.Page.HasShortcode "image") (.Page.HasShortcode "images")}}

{{ $longPost := or (or (gt .Page.WordCount 170) (in .File.BaseFileName "todo") $hasImages) }}
{{ $shortPost := and (lt .Page.WordCount 45) (not (or (in .File.BaseFileName "todo") $hasImages)) }}

{{ if not $shortPost }}
    <div class="container has-text-centered has-text-grey">
        <a class="has-text-grey is-size-2" href="{{ .Permalink }}">
            <time datetime="{{ $dateTime }}">{{ .Date.Format $timeFormat }}</time>
        </a>
        {{/*<span class="content is-size-7 has-text-centered has-text-grey">{{ .Date.Format "MST" }}</span>*/}}
    </div>
{{ end }}
{{ if $longPost }}
    {{ .Scratch.Set "entryLength" "long" }}
    {{ partial "weather" . }}

    <div class="content is-size-7 has-text-centered has-text-grey">
        {{ partial "location" . }}
    </div>
{{ else if $shortPost }}
    <div class="content is-size-7 has-text-centered has-text-grey">
        <p>{{ .Date.Format $timeFormat }} · {{ partial "weather" . }} · {{ partial "location" . }}
        </p>
    </div>
{{ else }}
    <div class="content is-size-7 has-text-centered has-text-grey">
        <p>
            {{ partial "weather" . }}
        </p>
        {{ partial "location" . }}
    </div>
{{ end }}

{{/*<div class="has-text-centered is-size-7">
    <a href="{{safeURL .Site.Params.editURL -}}{{- .Site.Params.contentPath }}/{{.File.Path}}" class="icon has-text-grey-lighter">
        <span class="icon">
            <i class="far fa-edit"></i>
        </span>
    </a>
</div> */}}

    {{ with .Params.tags }}
    <div class="tags has-text-centered">
    {{ range sort . }}
        {{ $tagPage := $.Site.GetPage "taxonomyTerm" (add "tags/" .) }}
        <a href="{{ $tagPage.RelPermalink }}" class="tag is-light sensitive">{{ . }}</a>
    {{ end }}
    </div>
    {{ end }}
