<article class="message is-dark sensitive">
  <div class="message-body">
    {{ range split .Inner "\n" }}
        {{ if ne . "" }}
            {{ $parts := split . ":" }}
            {{ $speaker := index $parts 0 }}
            {{ $description := split $speaker "(" }}
            {{ if index $description 1 }}
                <b>{{ index $description 0 }}</b> <i>({{ index $description 1 }}:</i>
            {{else }}
                <b>{{ $speaker }}:</b>
            {{ end }}
            {{ strings.TrimLeft (add $speaker ":") . | markdownify }}
            <br>
        {{end}}
    {{ end }}
</div>
</article>
